--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
torchaudio

sqlalchemy
psycopg2-binary

fastapi
uvicorn
python-multipart
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1

langchain
langchain-core
langchain-text-splitters
langchain-huggingface

sentence-transformers

qdrant-client

huggingface_hub

azure-ai-documentintelligence
azure-core
azure-communication-email